## Working with Tabular Data

In [3]:
import numpy as np
import pandas as pd

In [20]:
pokemons = {
    "Pokemon_Height" : np.random.randint(1, 100, 5),
    "Pokemon_Weight" : np.random.randint(50, 150, 5),
    "Pokemon_Power" : np.random.randint(200, 250, 5)
}

In [21]:
pokemons

{'Pokemon_Height': array([51, 44, 69, 16, 16]),
 'Pokemon_Weight': array([127,  55,  50, 104,  98]),
 'Pokemon_Power': array([223, 202, 243, 244, 226])}

In [22]:
df = pd.DataFrame(pokemons)
df

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              51             127            223
1              44              55            202
2              69              50            243
3              16             104            244
4              16              98            226

In [23]:
df.head(n=3)

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              51             127            223
1              44              55            202
2              69              50            243

In [24]:
df.columns

Index(['Pokemon_Height', 'Pokemon_Weight', 'Pokemon_Power'], dtype='object')

### Create a CSV(Comma Separated Values) File

In [25]:
df.to_csv('pokemon_data.csv', index=False)

### Read a DataFrame

In [26]:
df = pd.read_csv('pokemon_data.csv')

In [27]:
df.head()

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              51             127            223
1              44              55            202
2              69              50            243
3              16             104            244
4              16              98            226

In [30]:
df.shape

(5, 3)