## Loading Library

In [1]:
import numpy as np

# 1. Creating numpy array

In [2]:
# array from a python list

a=[2,4,6,8,10]
b=np.array(a)
b

array([ 2,  4,  6,  8, 10])

In [3]:
a

[2, 4, 6, 8, 10]

In [8]:
list1 = a
arr1 = b

In [5]:
list1+1

TypeError: can only concatenate list (not "int") to list

In [10]:
arr1+1  #vector

array([ 3,  5,  7,  9, 11])

In [11]:
list2 = [[9, 0,4,6], [4,6,2,1]]
arr2 = np.array(list2)

In [26]:
# float array

arr2 = np.array(list2, dtype = 'float')

In [27]:
arr2

array([[9., 0., 4., 6.],
       [4., 6., 2., 1.]])

In [14]:
# int array
arr3 = arr2.astype('int')
arr3

array([[9, 0, 4, 6],
       [4, 6, 2, 1]])

In [24]:
#boolean array

arr4 = np.array(list2, dtype = 'bool')
arr4

array([[ True, False,  True,  True],
       [ True,  True,  True,  True]])

In [16]:
arr5 = np.array([2,5,2.0,'y'], dtype='object')
arr5

array([2, 5, 2.0, 'y'], dtype=object)

In [22]:
list3 = arr5.tolist()
list3

[2, 5, 2.0, 'y']

In [18]:
type(arr5)

numpy.ndarray

In [19]:
type(list3)

list

# 2. Array Dimensions

In [28]:
arr2

array([[9., 0., 4., 6.],
       [4., 6., 2., 1.]])

In [29]:
arr2.shape

(2, 4)

In [30]:
arr2.size

8

In [31]:
arr2.dtype

dtype('float64')

In [33]:
#Dimention of the array
arr2.ndim

2

# 3. Reversing Rows and Columns

In [34]:
arr2

array([[9., 0., 4., 6.],
       [4., 6., 2., 1.]])

In [36]:
# reversing rows
arr2[::-1]

array([[4., 6., 2., 1.],
       [9., 0., 4., 6.]])

In [39]:
# reversing both rows and cols
arr2[::-1, ::-1]

array([[1., 2., 6., 4.],
       [6., 4., 0., 9.]])

# 4. Specific Element Extraction

In [40]:
arr2

array([[9., 0., 4., 6.],
       [4., 6., 2., 1.]])

In [41]:
arr2[0,:]

array([9., 0., 4., 6.])

In [42]:
arr2[:1, :]

array([[9., 0., 4., 6.]])

In [43]:
arr2[:2, :]

array([[9., 0., 4., 6.],
       [4., 6., 2., 1.]])

In [44]:
arr2[:-1, :]

array([[9., 0., 4., 6.]])

In [45]:
arr2[:, 3]

array([6., 1.])

In [46]:
arr2[:, -1]

array([6., 1.])

In [47]:
arr2[:, 1:3]

array([[0., 4.],
       [6., 2.]])

# 5. Basic Statistics

In [48]:
arr2

array([[9., 0., 4., 6.],
       [4., 6., 2., 1.]])

In [49]:
arr2.min()

0.0

In [50]:
arr2.max()

9.0

In [51]:
arr2.sum()

32.0

In [52]:
arr2.mean()

4.0

In [53]:
np.median(arr2)

4.0

In [54]:
np.average(arr2)

4.0

In [55]:
np.var(arr2)

7.75

# 6. Reshaping and Flattening

In [56]:
arr2

array([[9., 0., 4., 6.],
       [4., 6., 2., 1.]])

In [58]:
arr2.shape

(2, 4)

In [59]:
arr2.reshape(4, 2)

array([[9., 0.],
       [4., 6.],
       [4., 6.],
       [2., 1.]])

In [60]:
arr2.reshape(1, 8)

array([[9., 0., 4., 6., 4., 6., 2., 1.]])

In [61]:
arr2.reshape(8,1)

array([[9.],
       [0.],
       [4.],
       [6.],
       [4.],
       [6.],
       [2.],
       [1.]])

In [62]:
arr2.reshape(2,2)

ValueError: cannot reshape array of size 8 into shape (2,2)

In [63]:
arr2

array([[9., 0., 4., 6.],
       [4., 6., 2., 1.]])

In [65]:
# Flattening the array
f1 = arr2.flatten()
f1

array([9., 0., 4., 6., 4., 6., 2., 1.])

In [66]:
arr2.ndim

2

In [67]:
f1.ndim

1

# 7. Creating Random Arrays and Sequences

In [70]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [72]:
np.arange(2, 10)

array([2, 3, 4, 5, 6, 7, 8, 9])

In [74]:
np.arange(0, 10, 2)

array([0, 2, 4, 6, 8])

In [75]:
np.arange(10, 0)

array([], dtype=int32)

In [76]:
np.arange(10, 0, -1)

array([10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

In [77]:
np.linspace(1, 10, 3)

array([ 1. ,  5.5, 10. ])

In [78]:
np.linspace(1, 10, 5)

array([ 1.  ,  3.25,  5.5 ,  7.75, 10.  ])

In [79]:
np.zeros([2,2])

array([[0., 0.],
       [0., 0.]])

In [81]:
np.zeros([2, 3, 4])

array([[[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]]])

In [83]:
np.ones([2, 3, 4])

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

# 8. Unique Items and Count

In [84]:
arr = [[1, 4, 5, 2, 2, 5],
      [4, 4, 1, 7, 4, 5]]
arr

[[1, 4, 5, 2, 2, 5], [4, 4, 1, 7, 4, 5]]

In [85]:
u_val, count = np.unique(arr, return_counts = True)

In [86]:
u_val

array([1, 2, 4, 5, 7])

In [87]:
count

array([2, 2, 4, 3, 1], dtype=int64)